<p>
  Hello <%= @answer.question.author.name %>
</p>
<p>
  An InformationMine user(<%= @answer.author.name %>) just answered your question "<%= @answer.question.title%>".
</p>

<p>
  To read it, please <%= link_to "click here", "#"%>
</p>

