%li
  %article.post
    %header
      %h3= answer.title

    %p= answer.body.html_safe unless answer.body.nil?

    %footer
      %dl.inline
        %dt Created At
        %dd= answer.created_at
        %dt Tags
        %dd= answer.tags.map(&:name)
