%li
  %article.post
    %header
      %h3= post.title

    = link_to "Read more", post_path(post)

    %footer
      %dl.inline
        %dt Created At
        %dd= post.created_at
        %dt Tags
        %dd= post.tags.map(&:name).split(" ")
