<li>
  <article class="post">
    <header>
      <h3><%= post.title %></h3>
    </header>
    <p>
      <%= post.body.html_safe %>
    </p>
    <footer>
      <%= post.created_at%>
    </footer>
  </article>
</li>
